.scrollComponent {
  display: flex;
  justify-content: center;
}
.createPostContainer {
  display: flex;
  width: 100%;
  height: 10svh;
  padding-inline: 0.8rem;
  gap: 1.3rem;
  position: relative;
  align-items: center;
  background: rgb(255, 240, 240);
  border-radius: 20px;
}
.uploadButton {
  position: absolute;
  right: 0;
  bottom: -35%;
  background-color: rgb(2, 93, 158);
  color: white;
  border-radius: 10px;
  padding-inline: 1.2rem;
  padding-block: 0.82rem;
  cursor: pointer;
}
.userProfile {
  border-radius: 100%;
  height: 60%;

}

.createPostContainer > textarea {
  width: 100%;
}

.Fab {
  background: rgb(0, 59, 130);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  justify-content: center;
  display: flex;
}
.Fab > svg {
  width: 100px;
  height: 40px;
  color: white;
}
.textAreaOfContent {
  width: 80%;
  height: 70%;
  border: 1px solid silver;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline: 1.5 rem;
  padding-block: none;
}
.wraper {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  gap: 1.3rem;
}

.singleCard {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid rgb(179, 179, 179);
}

.singleCard__profileContainer {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
  padding: 1.2rem;
  padding-right: 3.4rem;
}
.singleCard__profileContainer > img {
  width: 10%;
  border-radius: 50%;
}

.singleCard_image {
  width: 100%;
  padding-top: 0.6rem;
  height: fit-content;
  overflow: hidden;
}
.singleCard_image > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
